
@import 'bootstrap/scss/bootstrap';

// Your custom styles here
body {
  background-color: #fff;
}

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Import Bootstrap Icons w/ custom path to fonts folder
//
@import "~bootstrap-icons/font/bootstrap-icons.css"; // Import the main CSS file
@font-face {
  font-family: 'bootstrap-icons';
  src: url('~bootstrap-icons/font/fonts/bootstrap-icons.woff2?24e3eb84d0bcaf83d77f904c78ac1f47') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bootstrap-icons';
  src: url('~bootstrap-icons/font/fonts/bootstrap-icons.woff?24e3eb84d0bcaf83d77f904c78ac1f47') format('woff');
  font-weight: normal;
  font-style: normal;
}
//
// Custom styles
//

@import "icon-list";


$red: rgba(255, 0, 0, 0.2);
$green: rgba(0, 128, 0, 0.2);
$blue: rgba(0, 0, 255, 0.2);
$orange: rgba(255, 165, 0, 0.2);
$purple: rgba(128, 0, 128, 0.2);
$brown: rgba(56, 56, 6, 0.2);
$yellow: #ffff00; 


$fruits:rgba(255, 204, 153, 1);
$vegetables: rgba(153, 204, 153, 1);
$dairy: rgba(255, 255, 240, 1);
$fish: rgba(153, 204, 255, 1);
$meat: rgba(255, 204, 204, 1);
$household:  rgba(82, 47, 11, 0.75);

$illegal: rgba(204, 204, 204, 0.75);

.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}
.bg-yellow{
  background-color: $yellow;
}

.bg-blue {
  background-color: $blue;
}

.bg-orange {
  background-color: $orange;
}

.bg-purple {
  background-color: $purple;
}

.bg-brown {
  background-color: $brown;
}

.red {
  color: rgb(255, 0, 0); /* Red */
}

.green {
  color: rgb(0, 128, 0); /* Green */
}

.blue {
  color: rgb(0, 0, 255); /* Blue */
}

.orange {
  color: rgb(255, 165, 0); /* Orange */
}

.purple {
  color: rgb(128, 0, 128); /* Purple */
}

.brown {
// Corrected SCSS
color: rgb(56, 56, 6);

}


.product{
  min-height: 6rem;
  font-size: 12px;
  background-color: #ccc;
  max-width: 250px;
}

.fruits {
  border: 1px solid $fruits;
    background: $fruits;
  &:not(.card){

    background-image: url('../../public/img/fruit.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.vegetables {
    border: 1px solid $vegetables;
     background: $vegetables;
  &:not(.card){
 

      background-image: url('../../public/img/vegetables.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
}

.dairy {
      border: 1px solid $dairy;
      background: $dairy;
  &:not(.card){
  

      background-image: url('../../public/img/dairy.webp');
    background-repeat: no-repeat;
    background-size: cover;
}}

.fish {
       border: 1px solid $fish;  background: $fish;
  &:not(.card){


      background-image: url('../../public/img/fish.webp');
    background-repeat: no-repeat;
    background-size: cover;
}}

.meat {
       border: 1px solid $meat;
         background: $meat;
  &:not(.card){


      background-image: url('../../public/img/meat.webp');
    background-repeat: no-repeat;
    background-size: cover;
}}

.household{
       border: 1px solid $household;
        background: $household;
  &:not(.card){

      background-image: url('../../public/img/household.webp');
    background-repeat: no-repeat;
    background-size: cover;
}}
.illegal{
   border: 1px solid $illegal;
        background: $illegal;
}

// .stuff, .household {
//   background: rgba(188, 143, 143, 1); /* Rosy Brown */
// }
.player-cards{
      background: rgba(239, 216, 193, 0.3);
}
.game-info{
      display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: inherit;
}


.card-img-top{
      margin: auto;
    max-width: 70px;
}
.positive-row{
   background: rgba(153, 204, 153, 1);
}
.negative-row{
  background: rgba(255, 204, 153, 1);
}


.user-info{
  padding: 10px;
  border: 1px solid #ccc;
}

.wholesale-window{
        width: 100%;
    max-width: 100%;
}
.modal.show .modal-dialog.modal-70w {
    width: 70vw;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}
.product-card{
  cursor: pointer;
      min-width: 160px;
  &:hover{
    opacity: 0.75;
  }
  
}
.product-card-wrap{
      border-radius: calc(0.4rem - 1px);
   
&.active{
    border:1px solid #ff0000
  }
}


.green-background{
      background: rgb(153, 204, 153);
}
.red-background{
   background: rgb(221, 35, 3);
}


.modal-90w{
  max-width: 90vw;
}


body {
  // background-image: url('../../public/img/pr1.webp');
  //   background-repeat: no-repeat;
  //   background-size: cover;
}
.sector{
  background-position: center;
    min-height: 340px;
    position: relative;
    h4 {
          background-color: rgba(255, 255, 255,  0.5);
    width: fit-content;
    padding: 10px;
    }
    .trader{
       background-color: rgba(255, 255, 255,  0.5);
       padding: 10px;
    }
    &:after{
      content: '';
      width: 100%;
      height: 100%;
    //       background-color: rgba(255, 255, 255, 0.5);
    //           position: absolute;
    // left: 0;
    // top: 0;

    }
}
.player{  
      width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 1px;
        background-size: cover;
        .current-player-info &{
          width: 200px;
          height: 200px;
        }


  &.ashot-the-butcher{
  background-image: url('../../public/img/butcher.webp');
 
}
&.raisa-the-vendor{
 background-image: url('../../public/img/raya.webp');
}
&.aza-of-gipsies{
 background-image: url('../../public/img/aza.webp');
}
&.solomon-sea-wolf{
 background-image: url('../../public/img/solomon.webp');
}
&.semyon-the-claw{
 background-image: url('../../public/img/SemyonTheClaw.webp');
}
&.aida-hottie{
 background-image: url('../../public/img/aida-hottie.webp');
}
&.grigory-the-gardener{
 background-image: url('../../public/img/grigory-the-gardener.webp');
}
&.lyuda-the-hostess{
 background-image: url('../../public/img/LyudaTheHostess.webp');
}
&.fisherwoman-sonya{
 background-image: url('../../public/img/fisherwoman-sonya.webp');
}
&.thief-benya{
 background-image: url('../../public/img/thief-benya.webp');
}


}
.coins{
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.trader-img{
  width: 40px;
}
.event-card-img{
  width: 40px;
}
#root{
  overflow: hidden;
}
.scroll-row{
  overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
        margin: 0 -15px;
    padding-left: 15px;
}
.cards-info{
      overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    /* width: 100000px; */
    max-width: fit-content;
}